body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f7fc;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

input[type="file"], button {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: white;
}

td {
    background-color: #f9f9f9;
}

td input, td select {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    background-color: #28a745;
    margin-left: 10px;
}

button:hover {
    background-color: #218838;
}

span {
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
}

span:hover {
    color: #0056b3;
}

/* Подсветка строки красным цветом */
.exception {
    background-color: red !important;
    color: white !important;
}

#pagination {
    margin-top: 10px;
    text-align: center;
}

#pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

#pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Help Modal Styles */
.help-modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.help-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: left;
    position: relative;
}

.help-modal h2 {
    margin-top: 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
}

.close-btn:hover {
    color: #ff0000;
}

.help-modal button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

.help-modal button:hover {
    background-color: #45a049;
}
