<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Editor</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="container">
    <h1>Word Table Editor</h1>

    <input type="file" id="fileInput" accept=".txt,.rtf"/>
    <button id="sendDataBtn" disabled>Send Data</button>
    <button id="saveFileBtn" disabled>Save as JSON</button>
    <button id="loadFileBtn" disabled>Load JSON</button>

    <table id="wordTable" class="word-table">
        <thead>
        <tr>
            <th>Word</th>
            <th>Part of Speech</th>
            <th>Forms</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<script src="../static/scripts.js"></script>
</body>
</html>
